{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block customStyles %}
<style>
    /* Custom styles here */
</style>
{% endblock %}

{% block customScripts %}
<script>
    /* Custom Stripts here */
</script>
{% endblock %}

{% block content %}
<section class="content-global">
    <header class="content-header">
        <h1 class="content-title">{% trans %}api.list.token{% endtrans %}</h1>
        {% include 'widgets/countFiltersBar.html.twig' %}
    </header>

    {% include 'widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="content-table uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}access_token{% endtrans %}</th>
                        <th>{% trans %}token.expiresAt{% endtrans %}</th>
                        <th>{% trans %}token.client{% endtrans %}</th>
                        <th>{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for token in tokens %}
                    <tr>
                        <td>{{ token.value }}</td>
                        <td>{{ token.expireTime|localizeddate('short', 'short') }}</td>
                        <td><a href="{{ path('clientAdminEditPage', { clientId: token.session.client.id }) }}">{{ token.session.client.name }}</a></td>
                        <td>
                        {% spaceless %}
                            <a class="uk-button uk-button-content uk-button-small uk-button-danger uk-button-table-delete" href="{{ path('tokenAdminDeletePage', { tokenId: token.id }) }}"
                                title="{% trans %}delete{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                        {% endspaceless %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
